.example-card {
  max-width: 400px;
}

.example-header-image {
  background-image: url('https://yt3.ggpht.com/a/AGF-l78RLdhLTI2utQBkiCgUZRXQ39ne7rAQFwlLKw=s900-c-k-c0xffffffff-no-rj-mo');
  background-size: cover;
}
