<div class="container mt-5">
  <div class="row text-center">
    <div class="col-12">
      <button mat-fab aria-label="Example icon-button with a heart icon" (click)="hide()">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
    <div class="col-6">OUH YEAH</div>
    <div class="col-6" id="proot">CA MARCHE !</div>
    <div class="col-12 mt-5">
      <ol>
        <li>
          <mat-form-field>
            <input matInput [(ngModel)]="name" placeholder="What's your name?">
          </mat-form-field>
        </li>
        <li>
          <button mat-raised-button (click)="openDialog()">Pick one</button>
        </li>
        <li *ngIf="animal">
          You chose: <i>{{animal}}</i>
        </li>
      </ol>
    </div>
  </div>
</div>
